{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>COUNTME</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/grayscale.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">CountMe</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#price">Price</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#hiw">How it works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#who">Who we are</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">Countme</h1>
              <p class="intro-text">We help to turn your data into your profit.
                <br>Grow with us.</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- <h2>CountMe</h2> -->

            {% block content %}


            {% endblock %}
       
          </div>
        </div>
      </div>
    </section>



    

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>COUNTME</h2>
          <!-- <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p> -->
          
        </div>
      </div>
    </section>



     <section id="price" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Data is good idea </h2>

            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="max-width:1600px">
    <h4>Price</h4>
    <!-- Pricing Tables -->
    <!-- <h4 class="w3-padding-16">How much I charge</h4> -->
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
            <li class="w3-black w3-xlarge w3-padding-32">Software</li>
            <li class="w3-padding-16">Unlimited</li>
            <li class="w3-padding-16">Somathing</li>
            <li class="w3-padding-16">5GB Storage</li>
            <li class="w3-padding-16">Mail Support</li>
            <li class="w3-padding-16">
              <h2> 9 man</h2>
              <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-light-grey w3-padding-24">
              <button class="w3-button w3-white w3-padding-large">GET CONTACT</button>
            </li>
          </ul>
        </div>
        
        <div class="w3-half">
          <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
            <li class="w3-black w3-xlarge w3-padding-32">Hardware</li>
            <li class="w3-padding-16">thinkable</li>
            <li class="w3-padding-16">smth</li>
            <li class="w3-padding-16">50GB Storage</li>
            <li class="w3-padding-16">Endless Support</li>
            <li class="w3-padding-16">
              <h2>299 man</h2>
              <span class="w3-opacity">per month</span>
            </li>
            <li class="w3-light-grey w3-padding-24">
              <button class="w3-button w3-white w3-padding-large">GET CONTACT</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

           
           
          </div>
        </div>
      </div>
    </section>
 

    <section id="hiw" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>COUNTME</h2>
          <!-- <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p> -->
          
          
  


        </div>
      </div>
    </section>



    <div class="w3-row-padding" id="who">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Who We Are</span>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="{% static 'img/elnara.jpeg' %}" alt="Elnara" style="width:100%">
        <div class="w3-container">
          <h3>Elnara Mammadzada</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>Countme</p>
          <p><button class="w3-button w3-light-grey w3-block"><a href="https://www.linkedin.com/in/elnaramammadzada/?lipi=urn%3Ali%3Apage%3Ad_flagship3_me_wvm_v2%3B7PlvfvVDQkK4C9I2ChNtCA%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_me_wvm_v2-profileview_single">Contact</a></button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="{% static 'img/sona2.jpeg' %}" alt="Sonabayim" style="width:100%">
        <div class="w3-container">
          <h3>Sonabayim Huseynzada</h3>
          <p class="w3-opacity">Co-founder & CTO </p>
          <p>lol :D</p>
          <p><button class="w3-button w3-light-grey w3-block"><a href="https://www.facebook.com/H.Sonabayim"> Contact</a></button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="{% static 'img/mamed.png' %}" alt="Mamed" style="width:100%">
        <div class="w3-container">
          <h3>Mamed</h3>
          <p class="w3-opacity">Co-founder & Engineer </p>
          <p>how many of us will be here</p>
          <p><button class="w3-button w3-light-grey w3-block"><a href="https://www.facebook.com/profile.php?id=100013635121190">Contact</a></button></p>
        </div>
      </div>
    </div>
  </div>










    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact</h2>
            <!-- <p>Feel free to leave us a comment on the
              <a href="/">Facebook</a>
              on Start Bootstrap to give some feedback about this theme!</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                  <i class="fa fa-google-plus fa-fw"></i>
                  <span class="network-name">Google+</span> -->
                <!-- </a> -->
              <!-- </li> -->
            <!-- </ul> -->
          </div>
        </div>
      </div>
    </section>


    <!-- Footer -->

    <footer>
      <div class="container text-center">
        <p>Copyright &copy; CountMe 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

   
    <!-- Custom scripts for this template -->
    <script src="{% static 'js/grayscale.min.js' %}"></script>
    

  </body>

</html>
